<!Doctype html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Hi, <%= @user.name%></h1>

	<h2>This is Sample Email and it for testing purpose</h2>
</body>
</html>

<!-- <!Doctype html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	<style type="text/css">
		body
		{
			text-align: center;
		}
		h1
		{
			color: #ff0000;
		}
		h3
		{
			color: #0000ff;
		}
		input
		{
			width: 100px;
			height: 40px;
			background-color: #000000;
			color: #0000ff;
		}
		input:hover
		{
			color: #00ff00;
		}
	</style>
</head>
<body>
	<h1>Hi, <%= @user.name%></h1>

	<h3>Below Button is for testing Purpose, it does nothing</h3>

	<input type="Button" value="Press Me">
</body>
</html> -->